<div id="<%= dom_id device %>">
  <p>
    <strong>Hostname:</strong>
    <%= device.hostname %>
  </p>

  <p>
    <strong>Ip address:</strong>
    <%= device.ip_address %>
  </p>

  <p>
    <strong>Mac address:</strong>
    <%= device.mac_address %>
  </p>

  <p>
    <strong>Device type:</strong>
    <%= device.device_type %>
  </p>

  <p>
    <strong>Serial number:</strong>
    <%= device.serial_number %>
  </p>

  <p>
    <strong>Purchase date:</strong>
    <%= device.purchase_date %>
  </p>

  <p>
    <strong>Warranty until:</strong>
    <%= device.warranty_until %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= device.active %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= device.notes %>
  </p>

</div>
